
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
desktop.ini
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/


*.iml
*.ipr
*.iws
.idea/


**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

*.g.dart
*.freezed.dart
*.mocks.dart

app.*.symbols

app.*.map.json

/android/app/debug/
/android/app/profile/
/android/app/release/
android/.gradle/
android/.kotlin/
android/local.properties
android/captures/
android/gradlew
android/gradlew.bat
android/gradle-wrapper.jar
android/.cxx/
android/GeneratedPluginRegistrant.java

android/key.properties
**/*.keystore
**/*.jks


**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/engine
**/ios/.symlinks/
**/ios/Pods/
**/ios/Podfile.lock
**/ios/Runner.xcworkspace/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Podfile.lock


.env
.env.*
!.env.example
*.pem
*.p12
*.p8
google-services.json
GoogleService-Info.plist
firebase_options.dart
secrets.dart
config.dart

/coverage/
lcov.info

PDD.md
README_BACKEND.md

